<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css" type="text/css">
        <style>
            .service-title{
                background-color: seagreen;
                padding: 12px;
                color:whitesmoke;
                font-weight: 700;
                border-radius: 8px;
            }
            .outline-box{
                border-left: thin solid seagreen;
                padding-left: 8px;
            }
            .cart{
                padding:10px;
                background-color: goldenrod;
                border-radius: 5px;
                text-decoration: none!important;
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-6">
                    <h1>Neoteric Innovations</h1>
                </div>
                <div class="col-sm-3">
                    <a href="/register" >Register</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/login" >Login</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/basket" class="cart"><span>0</span> items</a>
                </div>
            </div>
            <div class="jumbotron">
                <h2>Our Services</h2>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="service-title">Bronze service</h3>
                    <div class="outline-box">
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>Price: 250000 FCFA</p>
                        <p><button class="btn btn-outline-success">Add to basket</button></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h4 class="service-title">Silver service</h3>
                       <div class="outline-box">
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>Price: 400000 FCFA</p>
                        <p><button class="btn btn-outline-success">Add to basket</button></p>
                       </div>
                </div>
                <div class="col-sm-3">
                    <h4 class="service-title">Gold service</h3>
                        <div class="outline-box">
                            <p>Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>Price: 500000 FCFA</p>
                            <p><button class="btn btn-outline-success">Add to basket</button></p>
                        </div>
                </div>
                <div class="col-sm-3">
                    <h4 class="service-title">Platinum service</h3>
                        <div class="outline-box">
                            <p>Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>Price: 700000 FCFA</p>
                            <p><button class="btn btn-outline-success">Add to basket</button></p>
                        </div>
                </div>
                <div class="col-sm-3">
                    <h4 class="service-title">Diamond service</h3>
                    <div class="outline-box">
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>Price: 1000000 FCFA</p>
                        <p><button class="btn btn-outline-success">Add to basket</button></p>
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>