<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Thank you for patronizing us. We hope to see you again soon!</h1>
            </div>
            <a href="/">View services</a>
        </div>
    </body>
</html>